* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova"), local("ProximaNova-Regular"),
    url(assets/fonts/ProximaNova-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Proxima Nova - Semibold";
  src: local("Proxima Nova - Semibold"), local("ProximaNova-Semibold"),
    url(assets/fonts/ProximaNova-Semibold.otf) format("opentype");
}
